
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<style type="text/css">
    .copyright {
        width: 100%;
        height: 55px;
        line-height: 30px;
        text-align: center;
        color: #dadada;
        background: #393939;
        font-size: 12px;
        position: fixed;
        bottom: 0px;
        left: 0px;
    }
</style>
<body>
    <div style="background-color: #0B72CC; text-align: center; line-height: 50px;">
        <span style="color:white;">湖南信息技术有限公司版权所有 |</span>
        <a href="https://beian.miit.gov.cn" target="_blank" rel="nofollow" class="content_3_1_a" style="color:#fff; text-decoration:none;">粤ICP备14090732号</a>

    </div>
</body>
</html>
